<nav *ngIf="totalPages > 0">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
      <a class="page-link" (click)="goToPage(1)" aria-label="First">
        <span aria-hidden="true">&laquo;&laquo;</span>
        <span class="sr-only">Primero</span>
      </a>
    </li>
    <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
      <a class="page-link" (click)="goToPage(currentPage - 1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Anterior</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of pages" [ngClass]="{ 'active': currentPage === page }">
      <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
    </li>
    <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
      <a class="page-link" (click)="goToPage(currentPage + 1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Siguiente</span>
      </a>
    </li>
    <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
      <a class="page-link" (click)="goToPage(totalPages)" aria-label="Last">
        <span aria-hidden="true">&raquo;&raquo;</span>
        <span class="sr-only">último</span>
      </a>
    </li>
  </ul>
</nav>
<div *ngIf="totalPages > 0">
  <p> Página {{ currentPage }} de {{ totalPages }} </p>
</div>
